@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: 'ShadowHand';
	src: url('//2ttf.com/webfont/UIswCwhB/webfont.ttf') format('truetype');
}


.yatra, h2{
    
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

input,  button, textarea{
    border: 3px solid #008080;
    border-radius: 10px;
}

.blue{
    color: #008080;
}
.bg-blue{
    background-color: #008080;
}
.border-blue{
    border-bottom: 2px solid #008080;
}
body, ul{
    background-color: #fbfccf;
}
.white{
    color: #fbfccf;
}
.bg-white{
    background-color: white;
}
.blueborder{
    border: 2px solid #008080;
}
input{
    height: 45px;
}
.bblueb{
    border: 3px solid #008080;
    border-radius: 10px;
}
@media screen and (max-width:1000px) {
    .test{
        margin: 0px;
    }
    .padding{
        padding: 1.5rem 1rem 1.5rem 1rem;
    }
    .sz{
        font-size: 1.3rem;
    }
    .sz2{
        font-size: 0.9rem;
    }
    .gp{
        gap:15px
    }
    .pd{
        padding: 7px 5px 7px 5px;
    }
}