@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: 'ShadowHand';
	src: url('//2ttf.com/webfont/UIswCwhB/webfont.ttf') format('truetype');
}


.yatra, h2{
    
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

input,  button, textarea{
    border: 3px solid #008080;
    border-radius: 10px;
}/* #008080 #fbfccf*/

.blue{
    color: #008080;
}
.bg-blue{
    background-color: #008080;
}
.border-blue{
    border-bottom: 2px solid #008080;
}
body, ul{
    background-color: #fbfccf;
}
.white{
    color: #fbfccf;
}
.bg-white{
    background-color: white;
}
.blueborder{
    border: 2px solid #008080;
}
input{
    height: 45px;
}
.bblueb{
    border: 3px solid #008080;
    border-radius: 10px;
}
@media only screen and (max-width: 1000px) {
    body, form, div{
        padding: 0px;
    }
}